.board-container{
  text-align: center;
  margin: auto;
  width: 25%;
  background: rgb(226, 226, 238);
  box-shadow: 1px 1px 20px 0px;
}
.App{
  background: #434253;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-row {
  display: grid;
  justify-items: center;
  background-color: #fff;
  align-items: center; border: 1px solid #D8D3D1;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.box-container h3{
  color: #4AA0D3;
}
.game-status{
  background-image: #EB5771;
  padding: 1rem;
  color: #4AA0D3;
  font-weight: 600;
}
.App input{
  padding: 13px;
  border-radius: 3px;
  width: 20%;
  border: none;
  outline: none;
  margin: 2px;
}
.App{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.App button {
  border: none;
  margin-top: 1rem;
  background: #4AA0D3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 1rem;
  cursor: pointer;
}
.App h2{
  color: #4AA0D3;
}
